<table class="md-api-table">
  <thead>
    <tr>
      <th class="thCheckBox">
        <div class="checkBox">
          <md-checkbox
          aria-label=" "
          ng-model="vm.selectedAllItem"
          ng-change="vm.toggleAllItem()">
          </md-checkbox>
        </div>
      </th>
      <th ng-repeat="column in vm.column">
        {{column.title}}
      </th>
      <th ng-show="vm.showActionColumn">Action</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="item in vm.data | filter: vm.searchData">
      <td class="tdCheckBox">
        <div class="checkBox">
          <md-checkbox
            aria-label=" "
            ng-model="item.selected"
            ng-change="vm.toggleEachItem(item)">
          </md-checkbox>
        </div>
      </td>

      <td ng-repeat ="column in vm.column">
        {{item[column.field]}}
      </td>

      <td ng-show="vm.showActionColumn" class="action-column">

        <div class="button-edit-delete">
          <md-button class="md-raised md-primary" ng-click="vm.editButton(item)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</md-button>
          <md-button class="md-raised md-primary" ng-click="vm.deleteButton(item)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</md-button>
        </div>

        <div class="icon-edit-delete">
          <md-button ng-click="vm.editButton(item)" class="md-icon-button" >
            <md-icon aria-label=" " ><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></md-icon>
          </md-button>
          <md-button ng-click="vm.deleteButton(item)" class="md-icon-button">
            <md-icon aria-label=" "><i class="fa fa-trash fa-2x" aria-hidden="true"></i></md-icon>
          </md-button>
        </div>
      </td>
    </tr>
  </tbody>

</table>



