
ul.breadcrumb {
  list-style: none;
  padding: 0;
}
ul.breadcrumb li {
  display: inline;
}
ul.breadcrumb li+li:before {
  color: black;
  content: ">";
}

ul.breadcrumb li a {
  color: #4285f4;
  text-decoration: underline;
  cursor: pointer;
}
