<div class="edit-song">
  <div class="edit-form">
  <h1>Edit Song</h1>
  <form name="formEdit">
    <div layout="row">
      <md-input-container flex="100">
        <input required name="currentSong.name"
               ng-model="vm.currentSong.name"
               ng-minlength="1"
               ng-required="true"
               placeholder="Song Name">
        <div ng-messages="vm.currentSong.$error">
          <div ng-message="required"><p>Song name cannot be empty</p></div>
        </div>
      </md-input-container>
    </div>
    </br>

    <div layout="row">
      <md-input-container flex="100">
        <input ng-model="vm.currentSong.artist" placeholder="Artist">
      </md-input-container>
    </div>
  </form>

  <div class="buttonEditSong">
    <form>
      <md-button class="md-raised md-primary" ng-disabled="formEdit.$invalid" ng-click="vm.saveSong(vm.currentSong)">Save</md-button>
      <md-button style="background-color: #2196F3" class="md-raised md-primary" ng-click="vm.goToTableView()">Cancel</md-button>
    </form>
  </div>
  </div>

</div>
