.play-list
  .create-playlist
    margin-top 0.1em
    width 100%
    height 100%
    .create-form
      width 50%
      padding 1%
      margin-left 1%
      .button-create-playlist
        section
          float right
        #md-button-cancel
          background-color #2196F3

  .edit-playlist
    margin-top 0.1em
    width 100%
    height 100%
    .edit-form
      width 50%
      height 100%
      margin-left 25%
      .button-edit-playlist
        section
          float right
          #md-button-cancel
            background-color #2196F3

  .current-song-in-playlist
    .all-song
      height 500px
      overflow auto

@media (max-width: 840px)
  .breadcrumb
    display none
  .manage h1
    font-size 20px


