.navigation > *
  min-width 230px
.navigation
  .md-sidenav-left
    width 230px
    overflow hidden
    background-color rgb(21, 92, 164)
    color #fff
    md-content
      height 100%
    md-content._md
      background-color rgb(66, 133, 244)
    .left-nav
      display block
      padding 0 0 0 0 !important
      background-color #4285f4
      color #fff
      md-list-item
        border-bottom 1px solid #ccc
      span
        padding 0 8px 8px 8px
        text-decoration none
        font-size 25px
        color #fff
        display block
        transition 0.3s
  .md-sidenav-backdrop
    background-color transparent
  md-sidenav
    left 0
    top 72px
    bottom 30px

.selectListItem
  background-color rgb(63,81,181)

