.song
  .create-song
    margin-top 5px
    width 100%
    height 100%
    .create-form
      width 50%
      padding 1%
      margin-left 5%
      .button-create-song
        section
          float right
          #md-button-cancel
            background-color #2196F3

  .edit-song
    margin-top 0.1em
    width 100%
    height 100%
    .edit-form
      width 50%
      padding 1%
      margin-left 5%
      .button-edit-song
        section
          float right
          #md-button-cancel
            background-color #2196F3 !important

  @media (max-width 840px)
    .manage h1
      font-size 20px
    .create-song
      .create-form
        width 80%
        padding 1%
        margin-left 5%
    .edit-song
      .edit-form
        width 80%
        padding 1%
        margin-left 5%
